.section_works {
  @media (max-width: 875px) {
    text-align: center;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 40px;
    text-decoration: underline #e6ff00;

  }
  .works_wrapper {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;

    .carousel_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: 875px) {
          justify-content: center;
      }
    }
  }
}
