.section_works {
  margin: 50px 0;
  .works_wrapper {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;

    .carousel_wrapper {
      display: flex;
      justify-content: space-between;
    }

  }
}

