.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wait_description {
    font-size: 1rem;
    margin-bottom: 10px;
}