.buttonStyle {
  width: 40px;
  height: 20px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #e6ff00;
  cursor: pointer;
  @media (max-width: 500px) {
    left: 150px;
    top: 65px;
  }
  @media (max-width: 310px) {
    top: 55px;
  }
}
