.wrapper {
  position: relative;
  margin-bottom: 50px;

  img {
    width: 350px;
    @media (max-width: 500px) {
      width: 300px;
    }
    @media (max-width: 310px) {
      width: 90%;
    }

  }

  .mixButton {
    position: absolute;
    left: 175px;
    top: 75px;
    transform: translateX(-50%);
  }

  .description {
    width: 350px;
    @media (max-width: 500px) {
      width: 300px;
    }
  }
}

.wrapper img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s ease;
  filter: saturate(300%);
}

