.nav {
  height: 50px;
  width: 100%;
  background-color: #e6ff00;
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .burgerBtn {
    width: 30px;
    height: 20px;
    position: relative;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    span {
      position: absolute;
      top: 9px;
      width: 30px;
      background-color: black;
      height: 2px;
      transform: translateX(-10px);
    }

  }
  .burgerBtn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: black;
    height: 2px;
  }
  .burgerBtn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: black;
    height: 2px;
  }

}