.skills {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  h2 {
    text-decoration: underline #e6ff00;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    line-height: 30px;
    @media (max-width: 740px) {
      text-align: center;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @media(max-width: 1500px) {
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: space-between;
    }
    @media(max-width: 763px) {
      justify-content: center;
    }
  }
}

