.section_contact_form {
  margin: 50px 0;

  title {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    line-height: 30px;
  }
  .form_wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    @media (max-width: 500px) {
      width: 300px;
    }
    input {
      width: 80%;
      height: 20px;
      margin-bottom: 10px;
    }
    .textarea {
      height: 40px;
    }
    button {
      width: 40px;
      height: 20px;
      padding: 0;
      border-radius: 3px;
      border: 1px solid #e6ff00;
      @media (max-width: 500px) {
        left: calc(150px);
      }
    }
  }
}