.header {
    background-color: #219F94;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 50%;
}

.menu_wrapper {
    margin: 1vw 0;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu_item li {
    display: inline;
    margin: 0 10px;
    font-size: 1.5vw;
}

.menu_item a {
    text-decoration: none;
    text-underline: none;
    color: black;
    cursor: pointer;
}
