.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @media (max-width: 740px) {
    flex-direction: column;
  }
  .link_wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    //border: 1px solid rgba(230, 255, 0, 0.4);
    padding: 2px;
    line-height: 16px;
    width: 20%;
    @media (max-width: 740px) {
      width: 80%;
      justify-content: space-around;
    }
  }
  p {
    float: left;
    font-size: .7rem;
    line-height: 1rem;
    color: #FFFFFF;
    opacity: 0.4;
    @media (max-width: 740px) {
      margin-top: 10px;
    }
  }
}