body {
  background-color: darkgrey;
  color: white;
}

.container {
  width: 50%;
  background-color: black;
}

@media (max-width: 1190px) {
  .container {
    width: 80%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}