.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content_wrapper h2 {
    margin-bottom: 10px;
}

.content_wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contacts_button {

}
.content_wrapper textarea {
    width: 202px;
}